//Colors
$primaryColor: #868599;
$secondaryColor: #3e3d5d;
$disabledColor: #bdbdbd;
$textColor: #ffffff;
$disabledTextColor: #dddedf;


//Radius
$borderRadius: 0.2vmax;

// Menu specific variables
$horizontal-spacing: 11vmax;
$background-soft: rgba($primaryColor, 0.2);
$background-soft-hover: rgba($primaryColor, 0.4);
$background-neutral: rgba(#25262a, 0.5);
$component-width: 15vmax;