//Colors
$primaryColor: #868599;
$secondaryColor: #3e3d5d;
$disabledColor: #bdbdbd;
$textColor: #ffffff;
$disabledTextColor: #dddedf;

//Spacing
$btnSmall: 0.5vmax 1vmax;
$btnMid: 0.6vmax 1.5vmax;
$btnLarge: 0.7vmax 2vmax;
