.toast {
    &-grid {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 9999;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
    }

    &-item {
        pointer-events: auto;
    }
}