.button {
    background-color: $primaryColor;
    color: $textColor;
    border: 0;
    font-size: 1vmax;
    padding: 0.25vmax 1vmax;

    &-text-fit {
        coh-font-fit: fit;
    }

    &-small {
        width: 6vmax;
        height: 2vmax;
        padding: 0.20vmax 0.60vmax;
    }

    &-middle {
        width: 8vmax;
        height: 2.5vmax;
        padding: 0.30vmax 0.80vmax;
    }

    &-large {
        width: 10vmax;
        height: 3vmax;
        padding: 0.40vmax 1vmax;
    }

    &-disabled {
        background-color: $disabledColor;
        color: $disabledTextColor;
        pointer-events: none;
    }

    &:hover,:active {
        background-color: $secondaryColor;
    }
}
