.dropdown-option {
    padding: 1.5vh;
    width: 100%;
    display: flex;
    color: black;
}

.dropdown-option:hover {
    background-color: #00da9a;
    color: white;
}

.dropdown-option-selected {
    background-color: #00da9a;
    color: white;
}

.dropdown-option-disabled {
    opacity: 0.4;
    pointer-events: none;
}