.dropdown-option {
    padding: 1vh;
    border-radius: 0.5vh;
    background-color: #D9D9D9;
    width: 35vh;
    display: flex;
    color: black;
}

.dropdown-options {
    position: absolute;
    top: 6vh;
    width: 100%;
    z-index: 100;
}

.dropdown-option:hover {
    background-color: #00da9a;
    color: white;
}

.dropdown-option-selected {
    background-color: #00da9a;
    color: white;
}