.keybind {
    width: 10vmax;
    padding: 0.75vmax 0;
    font-size: 1.25em;
    font-weight: bold;
    border: 0.1vmax solid $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        border-color: rgba($primaryColor, 0.75);
    }
}