.toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.control {
    width: 3.5rem;
    height: 2rem;
    position: relative;
    border-radius: 1rem;
    border: 0.1rem solid $secondaryColor;
}

.label {
    &-left-enabled {
        margin-right: 0.3rem;
    }

    &-right-enabled {
        margin-left: 0.3rem;
    }
}

.disabled {
    opacity: 0.8;
    pointer-events: none;

    .control {
        border-color: $disabledTextColor;
    }

    .handle {
        background-color: $disabledColor;
    }

    .indicator-checked {
        background-color: $disabledTextColor;
    }
}

.indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.9rem;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $secondaryColor;
    opacity: 0;
    transition: opacity ease-in-out 0.2s;

    &-checked {
        opacity: 1;
    }
}

.handle {
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    top: 0.2rem;
    z-index: 2;
    left: 0.2rem;
    background-color: #ffffff;
    transition: transform ease-in-out 0.2s, background-color ease-in-out 0.2s;

    &-checked {
        transform: translateX(110%);
    }
}
