.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.dot-item {
    border-radius: 50%;
    width: 1vmax;
    height: 1vmax;
    font-size: 0.75vmax;
    background-color: #CFD1D3;
    color: black;
    cursor: pointer;
    margin-right: 0.5vmax;
}

.dot-item.last {
    margin-right: 0;
}

.dot-item.has-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-item:hover {
    background-color: #868599;
}

.dot-item.selected {
    background-color: #3E3D5D;
    color: white;
}

.control {
    width: 1.5vmax;
    height: 1.5vmax;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.2vmax;
    background-color: #868599;
}

.control.hidden {
    opacity: 0.3;
    pointer-events: none;
}

.control.prev {
    margin-right: 0.5vmax;
}

.control.next {
    margin-left: 0.5vmax;
}

.control:hover {
    background-color: #3E3D5D;
}

.arrow {
    padding: 0.25vmax;
}

.arrow > path {
    stroke: white;
}

.rotate {
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
}