.accordion {
    width: 20vmax;
    background-color: white;
    border: 0.1vmax solid $disabledColor;
    border-bottom: 0;
    border-radius: 0.1vmax;
}

.panel {
    width: 100%;
    color: black;
    border-bottom: 0.1vmax solid $disabledColor;
    overflow: hidden;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;

    &.panel {
        background-color: $disabledTextColor;
        color: $disabledColor;
    }
}

.heading {
    width: 100%;
    padding: 0.75vmax;
    display: flex;
    align-items: center;
    cursor: pointer;

    &-content {
        flex: 1;
    }

    &:focus {
        background-color: #dcdcdc
    }
}


.icon {
    width: 1vmax;
    height: 1vmax;
    transform-origin: center center;
    transition: transform 0.2s ease-in-out;

    &-expanded {
        transform: rotate(180deg);
    }
}


.body {
    width: 100%;
    transition: height 0.2s ease-in-out;
}

.content {
    padding: 0.5vmax 0.75vmax;
}