.wrapper {
    width: 15vmax;
}

.value-preview {
    border: 0.2vh solid $primaryColor;
    width: 2.5vmax;
    padding: 0.5vmax 0;
    margin-right: 2vmax;
    text-align: center;
}

.slider {
    margin: 0;
    width: 10vmax;
    height: 1vmax;

    &-handle {
        visibility: hidden;
        padding: 1vmax;
    }

    &-track {
        background-color: $background-soft;
    }
    
    &-track,
    &-fill {
        border-radius: 0;
    }

    &-track {
        background-color: $background-soft;

        &:hover {
            background-color: $background-soft-hover;
        }
    }
}