.visibility-button {
    width: 2vmax;
    height: 100%;
    padding: 0 0.25vmax;
    cursor: pointer;
    flex: 1;
    background-color: $primaryColor;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: $secondaryColor;
    }
}
