.language-jsx,
#code-block {
  overflow: auto;
}

@media (max-width: 50rem) {
  .hero-html {
    width: 100% !important;
    order: 2;
  }

  .hero {
    flex-direction: column;
  }

  .stack {
    width: 100%;
  }
}

.hero {
  display: flex;
  align-items: flex-start;
}

@media (min-width: 50rem) {
  .hero-html {
    flex: 1 0 0;
  }

  .stack {
    height: 40rem;
  }
}

.starlight-sidebar-topics [href="/submit-recipe/"],
.starlight-sidebar-topics [href="/submit-recipe/"]:hover {
  color: var(--sl-color-black);
  background: var(--sl-color-text-accent);
}

.starlight-sidebar-topics [href="/submit-recipe/"]:hover {
  filter: brightness(1.2);
}

.starlight-sidebar-topics [href="/submit-recipe/"]:hover .icon-mask {
  background-color: var(--sl-color-black);
}

.starlight-sidebar-topics [href="/submit-recipe/"] .icon-mask {
  background-color: var(--sl-color-black);
}