.Scroll {
    overflow: hidden;
    position: relative;
}

.Content-Wrapper {
    overflow: scroll;
    max-height: 100%;
}

.Content-Wrapper-Overflow {
    padding-right: 0.9vmax;
}

.ScrollBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.9vmax;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.Handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.3vmax;
    cursor: pointer;
}

.Handle:hover {
    background-color: rgba(0, 0, 0, 0.75);
}