.Scroll {
    overflow: hidden;
    position: relative;
}

.Content {
    padding-right: 10px;
    overflow: scroll;
    max-height: 100%;
}

.ScrollBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}

.Handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    cursor: pointer;
}

.Handle:hover {
    background-color: rgba(0,0,0,0.75);
}