.grid {
    &-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 1 0;
    }

    &-col {
        flex: 1 1 0;
    }

    &-empty-cell {
        height: 50px;
        user-select: none;
    }
}