.RadioButton {
    display: flex;
    align-items: center;
    margin-right: 0.75vmax;
    cursor: pointer;
}

.Control {
    width: 1.25vmax;
    height: 1.25vmax;
    position: relative;
    margin-right: 0.35vmax;
    border-radius: 50%;
    border: 0.1vmax solid #00DA9A;
    background-color: #D9D9D9;
}

.Before {
    margin-right: 0;
    margin-left: 0.35vmax;
}

.Disabled {
    opacity: 0.8;
    pointer-events: none;
}

.Indicator {
    position: absolute;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #00DA9A;
    opacity: 0;
    transition: opacity ease-in-out 0.2s;
}

.Selected {
    opacity: 1;
}