.before, .after {
    display: flex;
    align-items: center;
    padding: 0.35vmax;
    font-size: 1vmax;
    height: 100%;
}

.before {
    border-top-left-radius: 0.4vmax;
    border-bottom-left-radius: 0.4vmax;
}

.after {
    border-top-right-radius: 0.4vmax;
    border-bottom-right-radius: 0.4vmax;
}